body{
	font-family: Arial, Helvetica, sans-serif;
}

nav{
	width: 100%;
	height: 40px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding-left: 275px;
	float: left;
}

.menu{
	float: left;
	padding-left: 305px;
}

.menu li{
	float: left;
	line-height: 40px;
	color: #fff;
	margin-right: 17px;
	font-size: 12px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 40px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
	float: left;
	margin: 300px 0px 0px 288px;
	color: #2c384a;
	text-align: center;
}

.title__container h1{
	font-size: 36px;
	font-weight: bold;
}

.title__container h4{
	font-size: 14px;
	margin-top: 28px;
	color: #79818d;
}

.title__container input{
	height: 30px;
	border: 2px solid #7c848f;
	border-radius: 5px;
	text-align: center;
	background: none;
	color: #7c848f;
	font-size: 15px;
	padding: 0px 12px;
	margin: 38px 10px 0px 10px;
}

.about_me{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	text-align: center;
	background: #fff;
}

.about_me h2{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #263244;
	font-family: Arial;
}

.about_me img{
	margin: 67px 0px 28px 0px;
}

.about_me p{
	display: block;
	font-size: 14px;
	font-family: Calibri;
	width: 520px;
	margin: auto;
	color: #3f495a;
}

p.first{
	text-align: left;
	margin-bottom: 32px;
}

p.second{
	text-align: left;
}

.about_me input{
	height: 30px;
	border: 2px solid #7c848f;
	border-radius: 5px;
	background: none;
	color: #7c848f;
	font-size: 15px;
	padding: 0px 7px;
	margin-top: 29px;
}

.my_skills{
	width: 100%;
	height: 380px;
	padding-top: 80px;
	text-align: center;
	background: url(../img/my_skills.png) center/100% 100% no-repeat;
}

.my_skills h2{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #263244;
	font-family: Arial;
}

.my_skills h4{
	font-size: 14px;
	font-family: Bahnschrift, Arial, Helvetica, sans-serif;
	color: #d58b43;
	font-weight: bold;
	margin: 28px 0px 14px 0px ;
}

.pointers{
	font-family: Calibri;
	width: 775px;
	margin: auto;
}

.web_design{
	float: left;
	width: 150px;
	margin: 103px 56px 0px 0px;
}

.engineering{
	float: left;
	width: 150px;
	margin: 101px 56px 0px 0px;
}

.seo_optimization{
	float: left;
	width: 150px;
	margin: 97px 56px 0px 0px;
}

.marketing{
	float: left;
	width: 150px;
	margin-top: 99px;
}

.cases{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	text-align: center;
	background: #fff;
}

.cases h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 54px;
	color: #263244;
}

.cases>p{
	font-size: 14px;
	margin-bottom: 30px;
	font-family: Calibri;
}
.cases img{
	display: block;
	width: 750px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.about_client{
	display: block;
	width: 160px;
	height: 130px;
	float: left;
	text-align: left; 
	margin-top: -10px; /*изображение кейса в исходном файле меньше, чем само изображение*/
	margin-left: calc((100% - 750px)/ 2);
}

.about_client h3{
	font-family: "Franklin Gothic Medium";
	font-weight: bold;
	margin-bottom: 8px;
}

.about_client p{
	font-family: Arial;
	font-size: 12px;
	margin-bottom: 8px;
}

.cases input{
	width: 140px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	background: #63b5ae;
	color: #fff;
	font-size: 14px;
	padding: 0px 12px;
	margin: 10px 10px 0px 0px;
}

.description_project{
	width: calc(750px - 50px - 160px);
	margin-left: 50px;
	margin-top: -10px;
	margin-right: calc((100% - 750px)/ 2);
	text-align: left;
	float: right;
}

.description_project p{
	font-family: "Franklin Gothic Medium";
}

.description_project span{
	font-family: "Calibri";
	line-height: 12px;
}

.cost_calculation{
	width: 100%;
	height: auto;
	padding-top: 150px;
	text-align: center;
	background: #fff;
	font-family: Arial;
}

.cost_calculation h2{
	font-family: "Franklin Gothic Medium";
	font-size: 24px;
	font-weight: bold;
	text-transform: none;
	margin-bottom: 54px;
	color: #263244;
}

.selected{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	height: auto;
}

.cost_calculation h3{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 17px;
	text-align: left;
}

.type_of_site{
	margin-bottom: 35px;
}

.design{
	margin-bottom: 35px;
}

.adaptation{
	margin-bottom: 35px;
}

.site{
	display: block;
	font-size: 14px;
	font-family: "Franklin Gothic Medium";
	color: #909090;
	width: 100%;
	height: 40px;
	background-color: #eeeeee;
	text-indent: 18px;
}

.dsn{
	display: block;
	font-size: 14px;
	font-family: "Franklin Gothic Medium";
	color: #909090;
	width: 100%;
	height: 40px;
	background-color: #eeeeee;
	text-indent: 18px;
}

.adapt{
	display: block;
	font-size: 14px;
	font-family: "Franklin Gothic Medium";
	color: #909090;
	width: 100%;
	height: 40px;
	background-color: #eeeeee;
	text-indent: 18px;
}

.value{
	display: block;
	margin-bottom: 105px;
}

.value p{
	text-align: left;
	line-height: 25px;
}

.value span{
	font-size: 18px;
	font-weight: bold;
	float: right;
}

.some_stats{
	width: 100%;
	height: 355px;
	padding-top: 75px;
	background: url(../img/notebook.png) no-repeat;
}

.some_stats h2{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #263244;
	font-family: Arial;
}

.some_stats h4{
	font-size: 19px;
	font-family: Impact, Arial, Helvetica, sans-serif;
	color: black;
	margin: 20px 0px 12px 0px ;
}

.pointers2{
	font-family: Calibri;
	width: 733px;
	margin: auto;
}

.quantity_clients{
	float: left;
	text-align: center;
	width: 120px;
	margin: 86px 82px 0px 0px;
}

.hours_work{
	float: left;
	text-align: center;
	width: 120px;
	margin: 90px 82px 0px 0px;
}

.completed_projects{
	float: left;
	text-align: center;
	width: 120px;
	margin: 88px 82px 0px 0px;
}

.our_benefits{
	float: left;
	text-align: center;
	width: 120px;
	margin-top: 86px;
}

.feedback{
	width: 100%;
	height: 420px;
	padding-top: 80px;
	background: #fff;
	text-align: center;
}

.feedback h2{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #263244;
	font-family: Arial;
}

.feedback img{
	margin: 70px 0px 24px 0px;
}

.feedback p{
	display: block;
	font-size: 14px;
	font-family: Calibri;
	width: 490px;
	margin: auto;
	color: #525965;
}

p.fb{
	text-align: center;
	margin-bottom: 22px;
}

p.person{
	text-align: center;
}

.points{
	margin-top: -45px;
}

.contacts{
	width: 100%;
	height: 100%;
	padding-top: 80px;
	text-align: center;
	background: url(../img/contacts.png) center no-repeat;
}

.contacts h2{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-family: Arial;
}

.contacts>p{
	font-size: 14px;
	text-align: center;
	margin-top: 53px;
	font-family: Calibri;
	color: #fff;
}

.pointers3{
	display: inline-block;
	width: 600px;
	font-size: 12px;
	font-family: Calibri;
	margin: auto;
	color: #fff;
}

.geo{
	float: left;
	width: 150px;
	margin: 32px 72px 0px 0px;
}

.email{
	float: left;
	width: 150px;
	margin: 32px 76px 0px 0px;
}

.tel{
	float: left;
	width: 150px;
	margin: 32px 0px 0px 0px;
}

.pointers3 p{
	margin-top: 8px;
}

.contacts h3{
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-family: Calibri;
	margin-bottom: 30px;
}

.name1{
	display: inline-block;
	font-size: 12px;
	font-family: Calibri;
	color: #5d5d5e;
	height: 25px;
	margin-right: 10px;
	width: 252px;
	background-color: #d2d6dc;
	text-indent: 11px;
}

.email1{
	display: inline-block;
	font-size: 12px;
	font-family: Calibri;
	color: #5d5d5e;
	height: 25px;
	margin-left: 10px;
	width: 252px;
	background-color: #d2d6dc;
	text-indent: 11px;
}
.contacts textarea{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #5d5d5e;
	background-color: #d2d6dc;
	width: calc(252px + 252px + 25px);
	height: 68px;
	font-size: 12px;
	font-family: Calibri;
	text-indent: 11px;
}

.button{
	height: 32px;
	width: 87px;
	font-family: "Franklin Gothic Medium";
	border: 1.5px solid #fff;
	border-radius: 5px;
	text-align: center;
	background: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
}

footer{
	width: 100%;
	height: 60px;
	background: #354051;
}

.copyright{
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 9px;
	font-family: "Franklin Gothic Medium";
}
